@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .headline-title, .highlighted-text, .main-title, .section-title, .caption, .paragraph, .subtitle {
    font-family: 'Cabin', sans-serif;
    line-height: 120%;
  }

  .headline-title, .main-title, .section-title, .caption {
    font-weight: 600;
  }

  .highlighted-text, .paragraph, .subtitle {
    font-weight: 400;
  }

  .headline-title {
    font-size: 49px;
  }
  .highlighted-text {
    font-size: 39px;
  }
  .main-title {
    font-size: 31px;
  }
  .section-title {
    font-size: 25px;
  }
  .caption {
    font-size: 20px;
  }
  .paragraph {
    font-size: 16px;
  }
  .subtitle {
    font-size: 13px;
  }
}
